*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header h1{
    font-size: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 4%;
}